<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HOME</title>
  <div th:replace="/dashboard/layout/head::resources"></div>
  <style>
    .error{
      color: red;
      font-style: italic;
    }
  </style>
</head>
<body>
<!-- Begin page -->
<div id="wrapper">
  <th:block th:replace="/dashboard/layout/side-bar::side-bar"></th:block>
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <div class="content">
      <!-- Start Content-->
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12" style="margin-top: 10px;">
            <div class="page-title-box">
              <h4 class="page-title">Lịch sử mua hàng</h4></br>
              <input type="hidden" id="order_id">
              <h7>Chọn ngày:</h7>
              <div class="col-lg-3">
                <input type="date" name="order_date" required="" class="form-control" id="order_date">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- end page title -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-4">Danh sách mua hàng</h4>
                <div class="table-responsive">
                  <table class="table table-centered mb-0 table-nowrap" id="orderList">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Giờ mua hàng</th>
                      <th>Tổng giá sản phẩm</th>
                      <th>Tổng giá vé</th>
                      <th>Tổng giá hóa đơn</th>
                      <th>Tên khách hàng</th>
                      <th>Tên Nhân viên</th>
                      <th class="text-center"></th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                    <tfoot>

                    </tfoot>
                  </table>
            </div>
            <!-- end card-->

          </div>
          <!-- end col -->

        </div>
        <!-- End row -->

      </div>
      <!-- end container-fluid -->

    </div>
    <!-- end content -->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

    </div>
  </div>
</div>

<!-- END wrapper -->
<div th:replace="/dashboard/layout/listModalTotalProduct::listModalProduct"></div>
<div th:replace="/dashboard/layout/listModalTotalTicket::listModalTicket"></div>
<div th:replace="/dashboard/layout/script::script"></div>

</body>
<script src="/js/manager/listOrder.js"></script>
</html>