<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:fragment="listProduct">
    function getAllCategory(){
        $.ajax({
            type: "GET",
            url: "/products/allCategory"
        }).done(function (category){
            let content = "";
            for (let i = 0; i < category.length; i++) {
                content += `
                    <option value="${category[i].category_id}">${category[i].category_name}</option>
                `;
            }
            $("#upCategory").html(content);
        })
    }

    function getAllProduct(){
        $.ajax({
            type: "GET",
            url: "/products/allProduct"
        }).done(function (product){
            let content = "";
            for (let i = product.length-1; i >= 0; i--) {
                content += `
                        <tr id="row${product[i].product_id}">
                              <input hidden id="${product[i].product_id}">
                              <td>${product[i].product_name}</td>
                              <td>${product[i].price + "$"}</td>
                              <td>${product[i].description}</td>
                              <td>${product[i].category.category_name}</td>
                              <td class="text-center">
                                <button value="${product[i].product_id}" class="btn btn-outline-primary mr-2 edit-button" ><i class="far fa-edit"></i>Edit</button>
                                <button value="${product[i].product_id}" class="btn btn-outline-danger delete-button" ><i class="fas fa-trash-alt"></i>Hidden</button>
                              </td>
                        </tr>
                `;
            }
            $("#productList tbody").html(content);
            // $(".del-btn").on("click", function (){
            //     App.showDeleteConfirmDialog().then((result) => {
            //         if (result.isConfirmed){
            //             let id = $(this).attr("value");
            //             delCity(id);
            //         }
            //     });
            // })
            // $(".edit-btn").on("click",function (){
            //     let id = $(this).attr("value");
            //     editCity(id);
            // })
        })
    }

    function saveCity(){
        let city_id = $("#city_id").val();
        let city_name = $("#city_name").val();
        let country = {
            country_id : $("#country").val()
        };
        let area = $("#area").val();
        let population = $("#population").val();
        let description = $("#description").val();
        let GDP = $("#GDP").val();

        if (city_id !== ""){
            let newCity = {
                city_id : city_id,
                city_name : city_name,
                country: country,
                area : area,
                population : population,
                description : description,
                GDP : GDP
            }

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                url: "/api/createNewCity",
                data: JSON.stringify(newCity)
            }).done(function (city) {
                $(`#row${city.city_id}`).html(`
                    <td>${city.city_id}</td>
                        <td>${city.city_name}</td>
                        <td>${city.country.country_name}</td>
                        <td>
                            <a value="${city.city_id}" class="edit-btn"  href="#">Chỉnh sửa</a> |
                            <a value="${city.city_id}" class="del-btn" href="#">Xóa</a>
                    </td>
                `);
                App.showSuccessAlert("Tạo thành phố mới thành công!");
                $("#create-form")[0].reset();
                $(".close-modal").click();
                $(".del-btn").on("click", function (){
                    App.showDeleteConfirmDialog().then((result) => {
                        if (result.isConfirmed){
                            let id = $(this).attr("value");
                            delCity(id);
                        }
                    });
                })
                $(".edit-btn").on("click",function (){
                    let id = $(this).attr("value");
                    editCity(id);
                })
            }).fail(function (){
                App.showErrorAlert("Vui lòng kiểm tra lại!");
            })
        } else {
            let newCity = {
                city_name : city_name,
                country: country,
                area : area,
                population : population,
                description : description,
                GDP : GDP
            }

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                url: "/api/createNewCity",
                data: JSON.stringify(newCity)
            }).done(function (city) {
                $("#listCities tbody").prepend(`
                <tr id="row${city.city_id}">
                    <td>${city.city_id}</td>
                    <td>${city.city_name}</td>
                    <td>${city.country.country_name}</td>
                    <td>
                        <a value="${city.city_id}" class="edit-btn"  href="#">Chỉnh sửa</a> |
                        <a value="${city.city_id}" class="del-btn" href="#">Xóa</a>
                    </td>
                </tr>
            `)
                App.showSuccessAlert("Tạo thành phố mới thành công!");
                $("#create-form")[0].reset();
                $(".close-modal").click();
                $(".del-btn").on("click", function (){
                    App.showDeleteConfirmDialog().then((result) => {
                        if (result.isConfirmed){
                            let id = $(this).attr("value");
                            delCity(id);
                        }
                    });
                })
                $(".edit-btn").on("click",function (){
                    let id = $(this).attr("value");
                    editCity(id);
                })
            }).fail(function (){
                App.showErrorAlert("Vui lòng kiểm tra lại!");
            })
        }
    }

    function delCity(id){
        $.ajax({
            type : "DELETE",
            url : `/api/deleteCity/${id}`
        }).done(function (){
            $('#row'+ id).html("");
            App.showSuccessAlert("Xóa thành phố thành công!")
        }).fail(function (){
            App.showErrorAlert("Vui lòng kiểm tra lại!")
        })
    }

    function editCity(id){
        $.ajax({
            type : "GET",
            url : "/api/edit/"+id
        }).done(function (city){
            $("#city_id").val(city.city_id);
            $("#city_name").val(city.city_name);
            $("#country").val(city.country.country_id);
            $("#area").val(city.area);
            $("#population").val(city.population);
            $("#description").val(city.description);
            $(".open-modal").click();
        })
    }

    $(".save-btn").on("click", saveCity);

    getAllCategory();

    getAllProduct();
</script>
</html>