<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HOME</title>
  <div th:replace="/dashboard/layout/head::resources"></div>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

  <div id="side-bar">
    <!-- Topbar Start -->
    <div class="navbar-custom">
      <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="dropdown notification-list">
          <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="/assets/images/admin-avatar.jpg" alt="user-image" class="rounded-circle">
            <span class="pro-user-name ml-1">
                                <span > USER <i class="mdi mdi-chevron-down"></i>
                            </span>
          </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
            <!-- item-->
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome !</h6>
            </div>


            <div class="dropdown-divider"></div>

            <!-- item-->
            <!--                    <div sec:authorize="isAuthenticated()">-->
            <!--                        <a th:href="@{/home}">Home</a> | <a th:href="@{/logout}">Logout</a>-->
            <!--                    </div>-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <p> <i class="mdi mdi-logout-variant"></i> Logout</p>
            </a>

          </div>
        </li>
      </ul>

      <!-- LOGO -->
      <div class="logo-box">
        <a href="#" class="logo text-center logo-dark">
                        <span class="logo-lg">
                            <img src="/assets/images/logo-dark.png" alt="" height="18">
                          <!-- <span class="logo-lg-text-dark">Velonic</span> -->
                        </span>
          <span class="logo-sm">
                            <!-- <span class="logo-lg-text-dark">V</span> -->
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
        </a>

        <a href="#" class="logo text-center logo-light">
                        <span class="logo-lg">
                            <img src="/assets/images/logo-light.png" alt="" height="18">
                          <!-- <span class="logo-lg-text-dark">Velonic</span> -->
                        </span>
          <span class="logo-sm">
                            <!-- <span class="logo-lg-text-dark">V</span> -->
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
        </a>
      </div>

      <!-- LOGO -->


      <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
          <button class="button-menu-mobile waves-effect">
            <i class="mdi mdi-menu"></i>
          </button>
        </li>

        <!--            <li class="d-none d-lg-block">-->
        <!--                <form class="app-search">-->
        <!--                    <div class="app-search-box">-->
        <!--                        <div class="input-group">-->
        <!--                            <input type="text" class="form-control" placeholder="Search...">-->
        <!--                            <div class="input-group-append">-->
        <!--                                <button class="btn" type="submit">-->
        <!--                                    <i class="fas fa-search"></i>-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </li>-->
      </ul>
    </div>
    <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

      <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <ul class="metismenu" id="side-menu">

            <li class="menu-title">Navigation</li>

            <li>
              <a  href="#" class="waves-effect">
                <i class="ion-md-speedometer"></i>
                <span >  Dashboard  </span>
              </a>
            </li>

            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="fas fa-money-check-alt"></i>
                <span> Order </span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="#">List Order</a></li>
                <li><a href="#">List OrderDetail</a></li>

                <!--                            <li><a th:href="@{/products/hiddenProduct}">Hidden Product</a></li>-->
              </ul>
            </li>

            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="fas fa-tasks"></i>
                <span> Product </span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/products/">List Product</a></li>
                <li><a href="/products/createNewProduct">Create Product</a></li>
                <li><a href="/products/hiddenProduct">Hidden Product</a></li>
              </ul>
            </li>

            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="fas fa-users"></i>
                <span> User </span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="#">List User</a></li>
                <li><a href="#">Create User</a></li>
              </ul>
            </li>

            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="fas fa-clipboard-list"></i>
                <span> Category </span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="#">List Category</a></li>
              </ul>
            </li>

            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="fas fa-coins"></i>
                <span> Voucher </span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="#">List Voucher</a></li>
                <li><a href="#">Create Voucher</a></li>
                <li>
                  <a href="javascript: void(0);" class="waves-effect">
                    <span>Type Voucher </span>
                    <span class="menu-arrow"></span>
                  </a>
                  <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="#">Expired Voucher</a></li>
                    <li><a href="#">Undue Voucher</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

      </div>
      <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
  </div>

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12" style="margin-top: 10px;">
            <div class="page-title-box">
              <h4 class="page-title">Product Table</h4>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-4">Product List</h4>
                <div class="table-responsive">
                  <table class="table table-centered mb-0 table-nowrap" id="productList">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>

                    <tbody>

                    </tbody>
<!--                    <tfoot id="paging" >-->

<!--                    </tfoot>-->
                  </table>
                </div>
                <!-- end .table-responsive-->
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

      </div>
      <!-- end container-fluid -->

    </div>
    <!-- end content -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-product">
          <fieldset class="row g-3">
            <div>
              <input type="text" hidden class="form-control" id="upID" name="upID" value="">
            </div>
            <div class="col-md-6">
              <label for="upProductName" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="upProductName" name="upProductName" value="">
            </div>
            <div class="col-md-6">
              <label for="upPrice" class="form-label">Price</label>
              <input type="text" class="form-control" id="upPrice" name="upPrice" value="">
            </div>
            <div class="col-md-6">
              <label for="upDescription" class="form-label">Description</label>
              <input type="text" class="form-control" id="upDescription" name="upDescription" value="">
            </div>
            <div class="col-md-6">
              <label>Category</label>
              <select class="form-control" name="upCategory" id="upCategory" value="">
              </select>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary dismiss-modal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-product">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
<!--&lt;!&ndash; Vendor js &ndash;&gt;-->
<!--<script src="/assets/js/vendor.min.js"></script>-->

<!--&lt;!&ndash;Morris Chart&ndash;&gt;-->
<!--<script src="/assets/libs/morris-js/morris.min.js"></script>-->
<!--<script src="/assets/libs/raphael/raphael.min.js"></script>-->

<!--&lt;!&ndash; Init js &ndash;&gt;-->
<!--<script src="/assets/js/pages/morris.init.js"></script>-->

<!--&lt;!&ndash; App js &ndash;&gt;-->
<!--<script src="/assets/js/app.min.js"></script>-->

<!--&lt;!&ndash; My Javascript &ndash;&gt;-->
<!--<script src="/resource/js/app.js"></script>-->

<!--<script type="text/javascript" src="/resource/js/jquery-3.6.0.min.js"></script>-->
<!--<script type="text/javascript" src="/resource/js/jquery.validate-1.19.3.min.js"></script>-->
<div th:replace="/dashboard/layout/script::script"></div>

<script>
  function getAllCategory(){
    $.ajax({
      type: "GET",
      url: "/products/allCategory"
    }).done(function (category){
      let content = "";
      for (let i = 0; i < category.length; i++) {
        content += `
                    <option value="${category[i].category_id}">${category[i].category_name}</option>
                `;
      }
      $("#upCategory").html(content);
    })
  }

  function getAllProduct(){
    $.ajax({
      type: "GET",
      url: "/products/allProduct"
    }).done(function (product){
      let content = "";
      for (let i = product.length-1; i >= 0; i--) {
        content += `
                        <tr id="row${product[i].product_id}">
                              <input hidden id="${product[i].product_id}">
                              <td>${product[i].product_name}</td>
                              <td>${product[i].price + "$"}</td>
                              <td>${product[i].description}</td>
                              <td>${product[i].category.category_name}</td>
                              <td class="text-center">
                                <button value="${product[i].product_id}" class="btn btn-outline-primary mr-2 edit-button" ><i class="far fa-edit"></i>Edit</button>
                                <button value="${product[i].product_id}" class="btn btn-outline-danger delete-button" ><i class="fas fa-trash-alt"></i>Hidden</button>
                              </td>
                        </tr>
                `;
      }
      $("#productList tbody").html(content);
      $(".delete-button").on("click", function (){
          App.showDeleteConfirmDialog().then((result) => {
              if (result.isConfirmed){
                  let id = $(this).attr("value");
                  deleteConfirm(id);
              }
          });
      })
      $(".edit-button").on("click",function (){
        let id = $(this).attr("value");
          editProduct(id);
      })
    })
  }

  function editProduct(productID){
    $.ajax({
      type: "GET",
      url: `/products/edit-product/${productID}`,
    }).done(function (product){
      $('#upID').val(product.product_id);
      $('#upProductName').val(product.product_name);
      $('#upPrice').val(product.price);
      $('#upDescription').val(product.description);
      $('#upCategory').val(product.category.category_id);
      $('#editModal').modal('show');
    }).fail(function (){
      App.showErrorAlert("Something went wrong!")
    })
  }

  function saveProduct(){
    let product_id = $("#upID").val();
    let product_name = $("#upProductName").val();
    let price = $("#upPrice").val();
    let description = $("#upDescription").val();
    let category = $("#upCategory").val();
    let newCategory = {
      category_id : category
    }

    let product = {
      product_id:product_id,
      product_name : product_name,
      price : price,
      description : description,
      category : newCategory
    }

    if ($("#edit-product").valid()){
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "PUT",
        data: JSON.stringify(product),
        url: `/products/edit/${product_id}`,
        success: function (product) {
          $('#row'+product_id+ ' td').remove();
          $('#row'+product_id).html(`
                        <td>${product.product_name}</td>
                        <td>${product.price} $</td>
                        <td>${product.description}</td>
                        <td>${product.category.category_name}</td>
                        <td class="text-center">
                            <button value="${product.product_id}" class="btn btn-outline-primary mr-2 edit-button" ><i class="fas fa-edit"></i>Edit</button>
                            <button value="${product.product_id}" class="btn btn-outline-danger delete-button" ><i class="fas fa-trash-alt"></i>Delete</button>
                        </td>`);
          $(".delete-button").on("click", function (){
            App.showDeleteConfirmDialog().then((result) => {
              if (result.isConfirmed){
                let id = $(this).attr("value");
                deleteConfirm(id);
              }
            });
          })
          $(".edit-button").on("click",function (){
            let id = $(this).attr("value");
            editProduct(id);
          })
          $('#editModal').modal("hide");
          App.showSuccessAlert("Edit product successfully!")
          $("#edit-product")[0].reset();
        }
      })
    }
  }

  function deleteConfirm(productID) {
    $.ajax({
      type : "DELETE",
      url : `/products/${productID}`
    }).done(function (){
      $("#row" + productID).remove();
      App.showSuccessAlert("Delete")
    }).fail(function (){
      App.showErrorAlert("Something went wrong!")
    })
  }


  $(".edit-button").on("click",editProduct);

  $(".save-product").on("click",saveProduct);

  $(".delete-button").on("click",deleteConfirm);

  getAllCategory();

  getAllProduct();

  $(() => {
    $("#edit-product").validate({
      errorElement: 'div',
      rules: {
        product_name:  {
          required: true,
          minlength: 5,
          maxlength: 50,
        },
        price: {
          required: true,
          number: true
        },
        upCountry:{
          required:true
        },
        inputImage: {
          required:true
        }
      },

      messages: {
        product_name: {
          required: "Please enter product name!",
          minlength: "Please enter at least 5 characters!",
          maxlength: "Please enter up to 50 characters!"
        },
        price: {
          required: "Please input price of product!",
          number: "Please input only number!"
        },
        upCountry: "Please choose product category!",
        inputImage: "Please choose product image!"
      },

      submitHandler : saveProduct
    });
  });


</script>
</html>