<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <div th:replace="/dashboard/layout/head::resources"></div>
    <style>
        .error{
            color: red;
            font-style: italic;
        }
    </style>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <div th:replace="/dashboard/layout/side-bar::side-bar"></div>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12" style="margin-top: 10px;">
                        <div class="page-title-box">
                            <h4 class="page-title">Danh sách các thành viên</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Danh sách thành viên</h4>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0 table-nowrap" id="memberList">
                                        <thead>
                                        <tr>
                                            <th>Tên thành viên</th>
                                            <th class="text-center">Số điện thoại</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Hạng</th>
                                            <th class="text-center"></th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        </tbody>
                                        <!--                    <tfoot id="paging" >-->

                                        <!--                    </tfoot>-->
                                    </table>
                                </div>
                                <!-- end .table-responsive-->
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </div>
            <!-- end container-fluid -->

        </div>
        <!-- end content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
<div th:replace="/dashboard/layout/editModalMember::editModalMember"></div>
</body>
<div th:replace="/dashboard/layout/script::script"></div>

<script src="/js/manager/listMember.js"></script>
</html>